{{ define "base" }}
<div class="header">
   <div class="logo">
      <img src="{{ .LogoURL }}" alt="{{ .AppName }}" width="32" height="32" style="width: 32px; height: 32px; max-width: 32px;"/>
      <h1>{{ .AppName }}</h1>
   </div>
   <div class="warning">Warning</div>
</div>
<div class="content">
   <h2>New Sign-In Detected</h2>
   <table class="grid">
      <tr>
         {{ if and .Data.City .Data.Country }}
         <td>
            <p class="label">Approximate Location</p>
            <p>{{ .Data.City }}, {{ .Data.Country }}</p>
         </td>
         {{ end }}
         <td>
            <p class="label">IP Address</p>
            <p>{{ .Data.IPAddress }}</p>
         </td>
      </tr>
      <tr>
         <td>
            <p class="label">Device</p>
            <p>{{ .Data.Device }}</p>
         </td>
         <td>
            <p class="label">Sign-In Time</p>
            <p>{{ .Data.DateTime.Format "2006-01-02 15:04:05 UTC" }}</p>
         </td>
      </tr>
   </table>
   <p class="message">
      This sign-in was detected from a new device or location. If you recognize this activity, you can
      safely ignore this message. If not, please review your account and security settings.
   </p>
</div>
{{ end -}}