{{ define "base" -}}
Login Code
====================

Click the link below to sign in to {{ .AppName }} with a login code. This code expires in {{.Data.ExpirationString}}.

{{ .Data.LoginLinkWithCode }}

Or visit {{ .Data.LoginLink }} and enter the the code "{{ .Data.Code }}".
{{ end -}}
